body{
    height:100vh;
    
}
.container{
    height:300px;
    width: 500px;
    padding: 10px;
   position:relative;
margin-left:30%;
    

    
}
.sub{
height:200px;
width:500px
margin:200px;
background-color: green;

top: 50%;

}
.pos{
    height:150px;
    width:150px;
    position:absolute;
    left:20%;
    top:70%;
    background-color: red;
    border-radius: 60%;
    margin-left:35%;
    
}